<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>EventoApp</title>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div class="container">
		<h1>Evento</h1>
		<h3><a href="/listarEventos" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Eventos</a></h3>
		
		<div class="row">
			<div class="input-field col s12">
				Nome: <input type="text" readonly="readonly" name="nome" th:value="${evento.nome}" />
			</div>
			
			<div class="input-field col s6">
				Local: <input type="text" readonly="readonly" name="local" th:value="${evento.local}" />
			</div>
			
			<div class="input-field col s3">
				Data: <input type="date" readonly="readonly" name="data" th:value="${evento.data}" />
			</div>
			
			<div class="input-field col s3">
				Horario: <input type="time" readonly="readonly" name="horario" th:value="${evento.horario}" />
			</div>
		</div>

	</div>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
</body>
</html>