<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<div th:insert="include/header"></div>

<body>

	<header>
	  <nav>
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo">Evento</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/listarEventos" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Eventos</a></li>
	      </ul>
	    </div>
	  </nav>
	</header>
	
	<div class="container">
		<div class="row">
			<div class="input-field col s12">
				Nome: <input type="text" readonly="readonly" name="nome" th:value="${evento.nome}" />
			</div>
			
			<div class="input-field col s6">
				Local: <input type="text" readonly="readonly" name="local" th:value="${evento.local}" />
			</div>
			
			<div class="input-field col s3">
				Data: <input type="date" readonly="readonly" name="data" th:value="${evento.data}" />
			</div>
			
			<div class="input-field col s3">
				Horario: <input type="time" readonly="readonly" name="horario" th:value="${evento.horario}" />
			</div>
		</div>
		
		<h5 style="text-align: center;">Convidado</h5>
		
		<th:block th:insert="validator/mensagemValidator"></th:block>
		
		<div class="formConvidado">
			<form th:action="@{'/incluirConvidado'}" method="post">
				<input type="hidden" name="evento.codigo" th:value="${evento.codigo}" />
				<div class="row">
					<div class="input-field col s12">
						Nome:* <input type="text" name="nomeConvidado" value="" />
					</div>
					
					<div class="input-field col s3">
						RG:* <input type="text" name="rg" value="" />
					</div>
					
				</div>
				<button class="waves-effect waves-light btn" type="submit">Adicionar Convidado</button>
			</form>
		</div>
		
		<h5 style="text-align: center;">Lista de Convidados</h5>
		<table class="container">
			<thead>
				<tr>
					<th>Nome Convidado</th>
					<th>R.G.</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="convidado : ${convidados}">
					<td><span th:text="${convidado.nomeConvidado}"></span></td>
					<td><span th:text="${convidado.rg}"></span><td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:insert="include/footer"></div>
</body>
</html>