<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:insert="include/header"></div>

<body>

	<header>
	  <nav>
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo">Cadastro de Eventos</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/listarEventos" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Eventos</a></li>
	      </ul>
	    </div>
	  </nav>
	</header>
	
	<div class="container">	
		<th:block th:include="validator/mensagemValidator"></th:block>
		
		<form action="/incluirEvento" method="post">

			<div class="row">
				<div class="input-field col s12">
					Nome:* <input type="text" name="nome" value="" />
				</div>
				
				<div class="input-field col s6">
					Local:* <input type="text" name="local" value="" />
				</div>
				
				<div class="input-field col s3">
					Data:* <input type="date" name="data" value="" />
				</div>
				
				<div class="input-field col s3">
					Horario:* <input type="time" name="horario" value="" />
				</div>
			</div>
			<button class="waves-effect waves-light btn" type="submit">Salvar</button>
		</form>
	</div>
	
    <div th:insert="include/footer"></div>
</body>
</html>