<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>EventoApp</title>
</head>
<body>
	<h1>Cadastro de Eventos</h1>
	<form method="post">
		Nome: <input type="text" name="nome" value="" />
		Local: <input type="text" name="local" value="" />
		Data: <input type="date" name="data" value="" />
		Horario: <input type="text" name="horario" value="" />
		
		<button type="submit">Salvar</button>
	</form>
</body>
</html>