<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:insert="include/header"></div>

<body>

	<header>
	  <nav>
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo">Lista de Eventos</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/cadastrarEvento" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Evento</a></li>
	      </ul>
	    </div>
	  </nav>
	</header>
		
	<div class="container">
	    <table>
	      <thead>
	        <tr>
	            <th>Nome</th>
	            <th>Local</th>
	            <th>Data</th>
	            <th>Horário</th>
	            <th>Deletar</th>
	        </tr>
	      </thead>
	
	      <tbody>
	        <tr th:each="evento : ${eventos}">
	          <td><a th:href="@{'/detalharEvento/' + ${evento.codigo}}"><span th:text="${evento.nome}"></a></td>
	          <td><span th:text="${evento.local}"></td>
	          <td><span th:text="${evento.data}"></td>
	          <td><span th:text="${evento.horario}"></td>
	          <td><a th:href="@{'/deletarEvento/' + ${evento.codigo}}"><i class="material-icons center">delete</i></a></td>
	        </tr>
	      </tbody>
	    </table>
    </div>
	
	<div th:insert="include/footer"></div>
</body>
</html>